* {
    background-color: black;
    font-family: 'Indie Flower', cursive;
}
h1 {
    color: yellow;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.stormtrooper {
    height: 500px;
    width: 100%;
    background-image: url("./assets/photo-1577387195075-2ebe489a1198.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    widows: 800px;
    max-width: 60%;
    background-color: transparent;
    opacity: 80%;
    border-radius: 10px;
    padding: 10px;
}

.btn-grid {
display: grid;
grid-template-columns: repeat(2, auto);
gap: 5px;
margin: 20px 0;
}

.btn {
    color:black;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    outline: none;
}

.btn:hover {
    background-color: slategrey;
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: darkred;
}

#start-btn,
#next-btn {
    font-weight: bold;
    padding: 10px 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#question {
    color:whitesmoke;
    background-color:transparent;
    font-size: x-large;
    font-weight: bolder;
}
